body {
    margin: 0;
    padding: 0;
}

.navbar a {
    font-family: "Plus Jakarta Sans";
    color: rgba(27, 107, 237, 1);
    font-weight: 700;
}

.active1 {
    text-decoration: underline !important;
}
#section-1 {
    background-image: url("imgs/lakes.png");
    height: 95vh;
    background-size: cover;
}

#btn1 {
    background: linear-gradient(180deg, #8c9cf7, #2444f8);
}
#btn1:hover {
    filter: brightness(0.9);
}
#btn1:active {
    filter: brightness(0.8);
}
#svgdiv img {
    width: 100%;
}
#svgdiv {
    width: 15%;
}

#btndiv button:hover {
    background-color: rgb(224, 224, 224);
}
#btndiv button:active {
    background-color: rgb(180, 180, 180);
}
#btndiv button {
    width: fit-content;
}
#section-3 {
    background-image: url("imgs/upe.png");

    background-size: cover;
}
#white-line {
    top: 0;
    left: 0;
    width: 25%;
}

#rowdiv {
    background-color: white;
}

#div4 h1 {
    background: linear-gradient(180deg, #83a4ff, #2e2bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imgdiv1 {
    position: relative;
    width: 100%;
    padding-top: 80%;
    margin-bottom: 20px;
}
.imgdiv1 div {
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40px;
}

.imgdiv1 p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
.imgdiv1 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgdiv1:hover {
    filter: brightness(0.8);
    cursor: pointer;
}
.imgdiv1:active {
    filter: brightness(0.7);
}

footer {
    background-color: rgb(8, 0, 126);
}

#hr {
    border: 1px solid white;
}

p.text-secondary:hover {
    color: white !important;
}

footer p.text-secondary {
    font-size: 16px;
    font-weight: 400;
}
@media (max-width: 1199px) {
    #divas2 {
        flex-direction: column;
        align-items: center !important;
    }
    #divas2 img {
        min-width: 70px;
    }
    .par {
        text-align: center;
    }

    .col1 {
        align-items: center;
    }

    .col1 h3 {
        text-align: center;
    }

    #imgdiv1 {
        width: 95%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    #imgdiv1 img {
        width: 80%;
    }

    .col2 {
        display: flex;
        justify-content: center;
    }
    #ltuimg {
        display: none;
    }
    #rowdiv {
        margin: 150px 0px;
    }
    #rowdiv * {
        text-align: center;
    }

    .col3 {
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .col1 {
        padding-right: 200px !important;
        z-index: 2 !important;
        background-color: white;
    }
    #img1 {
        position: relative;
        right: 110px;
        height: 85%;
        width: 85%;
        z-index: 3 !important;
    }

    #ltuimg {
        top: 0;
        left: -140px;
        right: 0px;
        bottom: 0;
        z-index: 1 !important;
    }
    #rowdiv {
        min-height: 471px;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    #div3 {
        display: flex;
        justify-content: center;
        width: 70%;
    }
    #div5 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
