body {
     margin: 0;
}
div {
     display: flex;
}
#div1 {
     background-color: orange;
     display: flex;
}
p {
     width: 200px;
     height: 200px;
     background-color: white;
     margin: 10px;
     padding: 10px 0;
}
/*================================================================================================*/
#div2 {
     background-color: green;
     justify-content: flex-end;
}
/*================================================================================================*/
#div3 {
     background-color: orangered;
     height: 250px;
     align-items: center;
}
#div3 p {
     height: auto;
}
/*================================================================================================*/
#div4 {
     background-color: aqua;
     height: 400px;
     align-items: center;
     justify-content: center;
}
#div4 p {
     height: auto;
}
/*================================================================================================*/
#div5 {
     background-color: red;
     align-items: end;
     justify-content: end;
     height: 300px;
}
#div5 p {
     height: auto;
}
