body {
     background-color: rgb(221, 221, 221);
}
#mainwrap {
     margin: 0 auto;

     width: 500px;
     text-align: center;
     position: relative;
}
h3 {
     display: inline;
     border: 1px solid green;
     font-family: 'Inter';
     color: gray;
     position: relative;
     top: 30px;
}
h1 {
     font-family: 'Inter';
     margin: 0;
     font-size: 128px;
}
h4 {
     margin: 0;
     font-family: 'Inter';
     font-weight: 400;
}

img {
     width: 50px;
     position: absolute;
     right: 15px;
     bottom: 30px;
}
