body {
     margin: 0px;
}
* {
     font-family: 'Montserrat';
}
a {
     text-decoration: none;
     color: white;
}
button {
     cursor: pointer;
     color: rgb(219, 9, 219);
}
#navbar {
     width: 100%;
     display: flex;
     background-color: black;
}
#navbar div {
     color: white;
     font-weight: 800;
     letter-spacing: 1px;
}

#products {
     background-color: black;
     display: flex;
     flex-direction: column;
     align-items: center;
}
#main-section {
     background-image: url('image.png');
     background-size: cover;
     padding-top: 40px;
     padding-bottom: 40px;
     display: flex;
     flex-grow: 1;
     justify-content: center;
     align-items: center;
}
.item {
     border: 2px solid white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.whitespace {
     width: 20px;
     border: 2px solid white;
}
#main-content {
     width: 100%;
}
#items-display {
     width: 100%;
     padding-bottom: 40px;
}

button:hover {
     color: rgb(255, 255, 255);
}
footer {
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
}
footer p {
     color: white;
}
footer {
     height: 100px;
}

@media (min-width: 1024px) {
     #navbar {
          height: 100px;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
     }
     #products {
          width: 70%;
          padding-bottom: 40px;
     }
     #items-display {
          display: flex;
          justify-content: center;
          gap: 20px;
     }
     .item {
          max-width: 28%;
          min-width: 28%;
          min-height: 300px;
     }
     .h1-item {
          width: 80%;
     }
     #main-content {
          padding-top: 40px;
     }
     #h11 {
          margin: 0;
     }

     body {
          display: flex;
          flex-direction: column;
          height: 100vh;
     }
}

@media (max-width: 1023px) {
     #navbar {
          padding: 20px 0;
          flex-direction: column;
          gap: 25px;
          justify-content: space-around;
          align-items: center;
     }
     #products {
          width: 95%;
     }
     #items-display {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
     }
     .item {
          height: 50vh;
          width: 90%;
     }
}
