body {
     background-color: rgb(160, 160, 160);
}
#container1 {
     display: flex; /* Enable flexbox layout for #container1 */
     justify-content: center; /* Center horizontally */
     align-items: center;
     margin-top: 30px;
     flex-direction: column;
}
#container3 {
     background-color: white;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}
#container2 h3 {
     margin-top: 0px;
     padding: 10px;
     color: rgb(95, 95, 95);
     position: relative;
     top: 30px;
}
#container2 p {
     padding-right: 5px;
     padding-left: 10px;
     font-size: 2em;
     margin-bottom: 0px;
}
#image1 {
     width: 400px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}

#image2 {
     width: 50px;
     position: relative;
     bottom: 40px;
     left: 250px;
     margin-bottom: 0;
}

#image-container1 {
     align-items: column;
     margin-bottom: -60px;
}
/*=================================================================================================================*/
#second-div1 {
     width: 400px;
}

#image-container2 {
     margin-top: 40px;
}
#kaunas {
     width: 100%;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     display: block;
}
#div2img2 {
     width: 50px;
     position: relative;
     bottom: 40px;
     left: 250px;
     margin-bottom: 0px;
}

#q2div2section {
     background-color: white;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}
#q2div2section h3 {
     margin-top: -20px;
}
#q2div2section p,
#q2div2section h3 {
     padding: 10px;
}

#q2div2section p {
     margin-top: -20px;
     font-size: 2em;
     font-weight: 700;
     margin-bottom: 0;
}
#q2div2section img {
     width: 100px;
     margin-top: 0;
     padding-left: 10px;
}
/*=================================================================================================================*/
#post3 {
     width: 400px;
     margin-top: 50px;
}
#post3img1 {
     width: 100%;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     margin-bottom: 0px;
     vertical-align: bottom;
}
#post3 h3 {
     margin-top: 0;
     padding: 5px;
     color: gray;
}
#post3 p {
     padding: 5px;
     font-size: larger;
     font-weight: 600;
}
#post3div1 {
     margin-top: 0;
     background-color: white;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}

#post3img2 {
     width: 100px;
     padding-left: 5px;
}

#post3img3 {
     width: 50px;
     padding: 0;
     margin: 0;
     position: relative;
     bottom: 250px;
     left: 250px;
}
