#container1 {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);

     align-items: center;
     width: 400px;
     height: 80%;
     margin-top: 20px;
}

#img1 {
     width: 100%;
     vertical-align: bottom;
}
#outerdiv1 {
     position: relative;
     margin: 0;
     padding: 0;
}
#paragraph1 {
     margin: 0;
     padding: 5px;
     background-color: rgb(255, 255, 255);
     display: inline;
     position: absolute;
     left: 0px;
     bottom: 0px;
}

#outerdiv2 h2 {
     margin-top: 0;
     padding: 5px;
}

#outerdiv2 p {
     padding: 5px;
}

#outerdiv2 {
     margin-top: 0;
     background-color: bisque;
}

#boxshadow {
     box-shadow: 0 0 20px black;
}
/*========================================================================================================================================================================================================================================================================================== */
#div2 img {
     width: 100%;
     vertical-align: bottom;
}
#div2 {
     margin-top: 70px;
     position: relative;
}

#div3 {
     background-color: rgb(165, 165, 247);
     margin-top: 0;
     position: relative;
}

#div3 h3 {
     padding: 5px;
     margin-top: 0;
}

#div3 p {
     padding: 5px;
}

#div2 p {
     padding: 5px;
     background-color: white;
     display: inline;
     position: absolute;
     bottom: 0px;
     left: 0px;
     margin: 0px;
}
