#pirmas-blokas {
     width: 400px;
     margin: 0 auto;
}

#pirmas-blokas img {
     width: 100%;
     vertical-align: bottom;
}

#imagewrap {
     position: relative;
     margin: 0;
}

#imagewrap p {
     padding: 5px;
     position: absolute;
     bottom: 0px;
     left: 0px;
     margin: 0;
     background-color: white;
}

#text-wrap {
     margin: 0;
     background-color: antiquewhite;
}
#text-wrap h2 {
     margin: 0;
     padding: 15px;
}

#text-wrap p {
     margin: 0;
     padding: 15px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pirmas-blokas1 {
     width: 400px;
     margin: 0 auto;
     margin-top: 50px;
}

#pirmas-blokas1 img {
     width: 100%;
     vertical-align: bottom;
}

#imagewrap1 {
     position: relative;
     margin: 0;
}

#imagewrap1 p {
     padding: 5px;
     position: absolute;
     bottom: 0px;
     left: 0px;
     margin: 0;
     background-color: white;
}

#text-wrap1 {
     margin: 0;
     background-color: antiquewhite;
}
#text-wrap1 h2 {
     margin: 0;
     padding: 15px;
}

#text-wrap1 p {
     margin: 0;
     padding: 15px;
}
