div:not(#buttons) {
     height: 100vh;
     width: 100%;
     margin: 0;
     position: relative;
}
body {
     margin: 0;
}

p:not(#arrow) {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     font-size: 128px;
     font-family: 'inter';
     margin: 0;
}

#pg2 {
     background-color: green;
}

#pg3 {
     background-color: purple;
}

#pg4 {
     background-color: red;
}

#pg5 {
     background-color: rgb(192, 192, 192);
}

#buttons {
     position: absolute;
     bottom: 10px;
     left: 50%;
     transform: translateX(-50%);
     white-space: nowrap;
}
button {
     background: 0;
     width: 93px;
     height: 42px;
     border: 2px solid #f17965;
     border-radius: 10px;
}

button:hover {
     background-color: #f17965;
}
button:hover a {
     color: white;
}
button:active {
     background-color: black;
}
button a {
     color: #f17965;
     font-weight: 600;
}
a {
     text-decoration: none;
}
body {
     position: relative;
}
#arrowup {
     position: absolute;
     bottom: 10px;
     right: 10px;
     font-size: 100px;
     color: rgb(124, 124, 124);
}

#arrowup:hover {
     color: rgb(56, 56, 56);
     cursor: pointer;
}
#arrowup:active {
     color: black;
}
