body {
     margin: 0;
}

#div1 {
     background-color: rgb(66, 148, 255);
     margin: 0;
     padding: 0;
     height: 100vh;
     position: relative;
}
#div1 p {
     position: absolute;
     top: 50%;
     left: 50%;
     margin: 0;
     text-align: center;
     transform: translate(-50%, -50%);
     font-size: 15em;
}
#buttons {
     position: absolute;
     bottom: 20px;
     left: 50%;
     transform: translateX(-50%);
     margin-bottom: 0;
}

#buttons button:not(:nth-child(4)) {
     margin-right: 30px;
}

button {
     font-family: 'Inter';
     font-weight: 600;
     padding: 5px;
     border-radius: 4px;
     border: none;
     box-shadow: 0px 0px 10px black;
     border: 2px solid red;
     background-color: blue;
}
button a {
     color: rgb(255, 255, 255);
     letter-spacing: 2px;
}
button:hover {
     background-color: black;
     color: white;
     cursor: pointer;
}
button:active {
     background-color: blueviolet;
}
/*======================================================================================================================================================================================================================================================================================================================== */
#div2 {
     position: relative;
     width: 100%;
     background-color: blueviolet;
     margin-top: 0;
     height: 100vh;
}
#div2 p {
     margin: 0;
     position: absolute;
     font-size: 15em;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
/*======================================================================================================================================================================================================================================================================================================================== */
#div3 p {
     margin: 0;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     font-size: 15em;
}

#div3 {
     position: relative;
     width: 100%;
     margin: 0;
     height: 100vh;
}
/*======================================================================================================================================================================================================================================================================================================================== */
#div4 p {
     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 15em;
}

#div4 {
     height: 100vh;
     width: 100%;
     background-color: brown;
     position: relative;
     margin: 0;
}
/*======================================================================================================================================================================================================================================================================================================================== */
#div5 p {
     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 15em;
     color: red;
}

#div5 {
     height: 100vh;
     width: 100%;
     background-color: rgb(10, 240, 79);
     position: relative;
     margin: 0;
}
