#id2 {
     background-color: orange;
}
table {
     background-color: antiquewhite;
}
body {
     background-color: antiquewhite;
}
#id3 {
     background-color: orange;
}
#e {
     color: red;
}

#id4 h3 {
     color: green;
}

a {
     text-decoration: none;
}
