#pavadinimas {
     font-weight: 500;
     font-family: 'Roboto';
     font-size: 70px;
}
#about-text {
     font-family: 'Roboto';
     font-weight: 400;

     color: #d5d7d8;
}
#iframep {
     font-family: 'Roboto';
}

@media only screen and (max-width: 768px) {
     #divas p {
          min-width: 100%;
          font-weight: 500;
     }
     #divas {
          margin: 0;
          padding: 0;
          min-width: 100%;
          gap: 0 !important;
     }
     #divas h1 {
          font-size: 1.6em;
     }
     #butonas {
          margin-bottom: 10px;
     }
     #vaizdai {
          text-align: center;
     }
     #iframep {
          text-align: center;
     }
     iframe {
          width: 85% !important;
     }
     .colas {
          margin-bottom: 30px;
     }
     .darbupar {
          text-align: center;
     }
     .colas2 {
          margin-top: 50px;
     }
     #footeris div h4,
     #footeris div p,
     #footeris div h5 {
          text-align: center;
     }

     #footeris hr {
          transform: translateX(50%);
     }
     #about-text {
          font-size: 20px !important;
     }
     .embed-responsive-item {
          width: 100%;
          height: 300px;
     }
}

@media only screen and (max-width: 1023px) {
     #q,
     #w {
          text-align: center;
     }
     #w {
          min-width: 100%;
     }
     #e {
          display: flex;
          flex-direction: column;
     }
     #e .colas {
          align-items: center;
     }
     #pavadinimas {
          font-size: 35px;
     }
     #about-text {
          font-size: 25px;
     }
     .embed-responsive-item {
          width: 100% !important;
          height: 300px;
     }
}

@media only screen and (min-width: 1024px) {
     #komandosnariai div {
          max-width: 23%;
     }
     #about-text {
          font-size: 35px;
     }
     .embed-responsive-item {
          width: 60%;
          height: 300px;
     }
     #vaizdai {
          margin-top: 112px;
     }
     #butonas {
          margin-bottom: 30px;
     }
}
#q {
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 22px;
}

#darbu-galerija {
     padding: 0;

     margin: 0;
     font-family: 'Roboto';
     font-weight: 700;
     font-size: 40px;
}

#kontikas {
     margin-top: 112px;
}
#r {
     padding: 0.1px;
}
#w {
     font-size: 40px;
     font-weight: 500;
     font-family: 'Roboto';
}
#button-addon2:hover {
     background-color: rgb(0, 71, 0);
}
#button-addon2 {
     background-color: green;
     border: 1px solid green;
     color: white;
}

#button-addon2:active {
     background-color: rgb(0, 51, 0);
}

#susisiekti:hover {
     background-color: rgb(0, 65, 0);
}
#susisiekti:active {
     background-color: rgb(0, 0, 0);
}

#nicareklama {
     font-family: 'Roboto Condensed';
}

nav div a {
     font-family: 'Roboto';
}

#butonas {
     color: white;
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 20px;
}

p {
     font-family: 'Roboto';
     font-weight: 400;
     font-size: 18px;
}
