body {
     background-color: black;
}

#mainwrap {
     margin: 0 auto;
     margin-top: 100px;
     width: 675px;
     height: 355px;
     background-color: rgb(36, 36, 36);
     position: relative;
     padding-top: 1px;
}

.images {
     width: 200px;
     position: absolute;
}

#speaker {
     top: -80px;
     left: -80px;
}

#stars {
     width: 100px;
     bottom: -20px;
     right: -20px;
}
#textwrap {
     width: 531px;

     margin: 0 auto;
     margin-top: 65px;
}
h1 {
     text-align: left;
     color: white;
     font-family: 'Inter';
}

#textwrap p {
     color: white;
     font-family: 'Inter';
}

button {
     padding: 6px;
     border-radius: 8px;
     background: none;
     color: orange;
     border: 2px solid orange;
     font-weight: 600;
}
button:hover {
     background: white;
     color: rgb(102, 0, 0);
     border-color: red;
     cursor: pointer;
     font-weight: 600;
}
button:active {
     background: rgb(179, 86, 0);
     color: white;
     cursor: pointer;
}
