h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
button {
     font-family: 'Poppins';
}

body {
     margin: 0;
     padding: 0;
}

#break1 {
     width: 100%;
     border: 1px solid orange;
}
* {
     box-sizing: border-box;
}
#link1 {
     background-color: orange;
     border-radius: 10px;
     padding: 4px;
     color: white;
}

#navbaras ul li {
     font-weight: 600;
}
#inner2 img {
     width: 100%;
     height: 100%;
}

#under-main {
     width: 100%;
     background-color: orange;
     display: flex;
     justify-content: center;
     align-items: center;
}
#pagrindinis {
     width: 100%;
}
.item {
     box-shadow: 0px 0px 5px black;
     background-color: white;
}
#footerdiv {
     display: flex;
}
#pagrindinis {
     background-color: rgb(238, 238, 238);
     padding-bottom: 20px;
}
footer {
     box-shadow: 0px -5px 10px black;
}
@media only screen and (max-width: 768px) {
     #title {
          display: flex;
          justify-content: center;
          flex-direction: column;
     }
     #navbaras {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
     h5 p {
          text-align: center;
     }
     ul {
          display: flex;
          justify-content: center;
          padding: 0;
     }
     #container-title {
          display: flex;
          flex-direction: column;
     }

     #inner2 {
          width: 100%;
          max-height: 38vh;

          box-sizing: border-box;
     }
     #inner1 {
          max-height: 38vh;
          max-width: 100%;
          box-sizing: border-box;
     }
     #inner1 h1 {
          width: 50%;
     }
     #buttons1 {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
     }
     #main-content {
          width: 100%;
     }
     .item {
          min-width: 100%;
     }
     .q {
          display: flex;
          flex-direction: column !important;
          gap: 40px;
     }
}

@media only screen and (max-width: 1023px) {
     #title {
          display: flex;
          justify-content: center;
          flex-direction: column;
     }
     #navbaras {
          display: flex;

          justify-content: space-between;
          align-items: center;
          margin: 0px 10px;
     }
     #navbaras ul {
          display: flex;
          gap: 40px;
          list-style-type: none;
     }
     li {
          font-size: 20px;
     }
     #container-title {
          display: flex;
          flex-direction: column;
     }
     #inner1,
     #inner2 {
          width: 100%;
          height: 50vh;

          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     #inner1 h1 {
          font-size: 50px;
     }
     #inner1 > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
     }
     #buttons1 {
          margin-top: 10px;
     }

     #buttons1 button:first-child {
          border: none;
          background-color: orange;
          border-radius: 5px;
          color: rgb(255, 255, 255);
          padding: 5px 14px;
     }
     #buttons1 button:nth-child(2) {
          border: 2px solid rgb(0, 0, 0);
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
          color: black;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-right: 15px;
          padding-left: 15px;
     }
     #under-main p {
          width: 75%;
          text-align: start;
     }
     #pagrindinis {
          padding: 10px;
     }
     #main-content {
          width: 100%;
     }
     #items-container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 5%;
     }
     .item {
          width: 45%;
          margin-bottom: 35px;
     }
     .item img {
          width: 100%;
     }

     #about {
          padding: 10px;
     }
     .item p {
          background-color: orange;
          border-radius: 5px;

          padding-left: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
     }
     #buttons2 {
          display: flex;
          gap: 10%;
     }
     .item button {
          padding: 10px;
          width: 45%;
     }
     #footerdiv {
          flex-direction: column;
          align-items: center;
     }
     #p1 {
          width: 80%;
     }
     .q {
          display: flex;
          flex-direction: row;
          width: 80%;
          justify-content: space-between;
     }
}

@media only screen and (min-width: 1024px) {
     #navbaras {
          height: 108px;
          width: 80%;

          margin: 0 auto;
          display: flex;
          justify-content: space-around;
          align-items: center;
     }
     #navbaras ul {
          display: flex;
          gap: 50px;
          list-style-type: none;
     }
     #title {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
     }

     .container-title {
          display: flex;
          flex-direction: row;
          width: 100%;
     }
     #inner1 {
          width: 40%;

          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     #inner1 > div {
          width: 50%;

          margin-left: 20%;
     }

     #inner1 h1 {
          font-size: 4em;
     }
     #inner2 {
          width: 60%;

          height: auto;
     }
     #buttons1 {
          margin-top: 10px;
          display: flex;
          gap: 5px;
     }

     #buttons1 button:first-child {
          border: none;
          background-color: orange;
          border-radius: 5px;
          color: rgb(255, 255, 255);
          padding: 5px 14px;
     }
     #buttons1 button:nth-child(2) {
          border: 2px solid rgb(0, 0, 0);
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
          color: black;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-right: 15px;
          padding-left: 15px;
     }
     #under-main p {
          width: 75%;
          text-align: center;
     }
     #pagrindinis {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
     #main-content {
          width: 80%;
     }
     .item {
          width: 30%;
          margin-bottom: 30px;
     }
     #items-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
     }
     .item img {
          width: 100%;
     }
     #about {
          padding: 10px;
     }
     .item p {
          background-color: orange;
          border-radius: 5px;

          padding-left: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
     }
     #buttons2 {
          display: flex;
          gap: 10%;
     }
     .item button {
          padding: 10px;
          width: 45%;
     }
     footer {
          display: flex;
          justify-content: center;
     }
     #footerdiv {
          width: 80%;
          justify-content: space-between;
     }
     #p1 {
          width: 50%;
     }
     .q {
          display: flex;
          flex-direction: row;

          width: 50%;
          justify-content: space-around;
     }
}
